# Imports

In [1]:
import pandas as pd

# Read Data

In [2]:
df = pd.read_csv('store_train.csv')
df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [4]:
df.describe().T

          count       mean        std  min   25%   50%   75%    max
store  913000.0   5.500000   2.872283  1.0   3.0   5.5   8.0   10.0
item   913000.0  25.500000  14.430878  1.0  13.0  25.5  38.0   50.0
sales  913000.0  52.250287  28.801144  0.0  30.0  47.0  70.0  231.0

In [5]:
df.store.value_counts()

1     91300
2     91300
3     91300
4     91300
5     91300
6     91300
7     91300
8     91300
9     91300
10    91300
Name: store, dtype: int64

In [6]:
df.item.value_counts()

1     18260
38    18260
28    18260
29    18260
30    18260
31    18260
32    18260
33    18260
34    18260
35    18260
36    18260
37    18260
39    18260
2     18260
40    18260
41    18260
42    18260
43    18260
44    18260
45    18260
46    18260
47    18260
48    18260
49    18260
27    18260
26    18260
25    18260
24    18260
3     18260
4     18260
5     18260
6     18260
7     18260
8     18260
9     18260
10    18260
11    18260
12    18260
13    18260
14    18260
15    18260
16    18260
17    18260
18    18260
19    18260
20    18260
21    18260
22    18260
23    18260
50    18260
Name: item, dtype: int64